a, abbr, acronym, address, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, div, footer, header, main, nav, section {
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

body, button, input, textarea {
  font-family: "proxima-nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a {
  color: #003569;
  text-decoration: none;
}

.optionIcon {
  background-image: url(/img/ugram.png);
  background-position: -308px -37px;
  height: 44px;
  width: 44px;
}

.heartIcon {
  background-image: url(/img/ugram.png);
  height: 24px;
  width: 24px;
  background-position: -207px -229px;
}

.imageFeed {
  background-color: #edeeee;
  display: block;
  width: 100%;
}

.sizeImageFeed {
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.likeTextFeed2 {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.heightTextFeed2 {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.heightTextFeed2 {
  color: #262626;
  &:visited {
    color: #262626;
  }
}

@media (min-width: 736px) {
  .heightTextFeed2 {
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 735px) {
  .heightTextFeed2 {
    font-size: 14px;
    line-height: 17px;
  }
}

.likePaddingFeed {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.heightTextFeed {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
}

@media (min-width: 736px) {
  .heightTextFeed {
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 735px) {
  .heightTextFeed {
    font-size: 14px;
    line-height: 17px;
  }
}

.likeTextFeed {
  font-weight: 600;
}

.textCommentFeed {
  margin-bottom: 7px;
  position: relative;
  word-wrap: break-word;
  &:last-child {
    margin-bottom: 0;
  }
}

.inputCommentFeed {
  background: 0 0;
  border: none;
  color: #262626;
  outline: none;
  width: 100%;
}

.blackTextFeed {
  margin-right: 0.3em;
  color: #262626;
  &:visited {
    color: #262626;
  }
}

.addCommentFeed {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.flexCommentFeed {
  color: #999;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.addCommentFeed {
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #efefef;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
}

.commentPaddingFeed:first-child {
  border-top: none;
  margin-top: 0;
}

.likeButtonFeed {
  margin-left: -9px;
  margin-right: 3px;
}

.paddingLikeFeed {
  margin-bottom: 7px;
}

.optionPostFeed {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-left: 5px;
  margin-right: -10px;
  padding: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.likeButtonFeed {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media (min-width: 736px) {
  .inputCommentFeed {
    font-size: 15px;
    line-height: 18px;
  }
  .textContentFeed {
    font-size: 15px;
    line-height: 18px;
    padding: 0 24px;
  }
  .paddingLikeFeed:first-child {
    margin-top: 20px;
  }
  .addCommentFeed {
    min-height: 68px;
  }
  .commentPaddingFeed {
    margin-top: 13px;
  }
}

@media (max-width: 735px) {
  .inputCommentFeed {
    font-size: 14px;
    line-height: 17px;
  }
  .textContentFeed {
    font-size: 14px;
    line-height: 17px;
    padding: 0 20px;
  }
  .paddingLikeFeed:first-child {
    margin-top: 16px;
  }
  .addCommentFeed {
    min-height: 48px;
  }
  .commentPaddingFeed {
    margin-top: 9px;
  }
  .likeButtonFeed {
    margin-left: -9px;
    margin-right: -1px;
    transform-origin: left;
  }
}

.userImageFeed {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.logoUserFeed {
  height: 100%;
  width: 100%;
}

.topAlignFeed {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row;
}

.topFeed .topAlignFeed {
  height: 64px;
  padding: 14px 20px;
}

.widthTextFeed2 {
  display: inline-block;
  max-width: 100%;
}

.topFeed {
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
}

.userNameFeed {
  display: block;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow: hidden;
  line-height: 0;
}

.userAlignFeed {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.topFeed .userAlignFeed {
  margin: -1px 10px -1px -5px;
}

.widthTextFeed {
  display: inline-block;
  max-width: 100%;
  margin-right: 100%;
  color: #262626;
  &:visited {
    color: #262626;
  }
}

.hourFeed {
  color: #999;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  &:visited {
    color: #999;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.contentFeed {
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.marginContentFeed {
  margin-bottom: 30px;
}

.borderFeed:last-child {
  margin-bottom: 0;
}

.logoSize {
  width: 30px;
  height: 30px;
}

.imagePaddingFeed {
  padding-bottom: 100%;
}

@media (min-width: 640px) {
  .contentFeed {
    padding-top: 60px;
  }
  .borderFeed {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 60px;
  }
}

@media (max-width: 639px) {
  .contentFeed {
    margin-bottom: 10px;
  }
}

@media (max-width: 735px) {
  .borderFeed {
    margin-bottom: 30px;
  }
}