.optionIcon {
  background-image: url(/img/ugram.png);
  background-position: -308px -37px;
  height: 44px;
  width: 44px;
}

.heartIcon {
  background-image: url(/img/ugram.png);
  background-position: -207px -229px;
  height: 24px;
  width: 24px;
}

.imageFeed {
  background-color: #edeeee;
  display: block;
  width: 100%;
}

.sizeImageFeed {
  position: absolute;
  height: 100%;
  width: 100%;
}

.likeTextFeed2 {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.heightTextFeed2 {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.likePaddingFeed {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.heightTextFeed {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
}

.likeTextFeed {
  font-weight: 600;
}

.textCommentFeed {
  margin-bottom: 7px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
}

.inputCommentFeed {
  background: 0 0;
  border: none;
  color: #262626;
  outline: none;
  width: 100%;
}

.blackTextFeed {
  margin-right: 0.3em;
  color: #262626;
  &:visited {
    color: #262626;
  }
}

.addCommentFeed {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.flexCommentFeed {
  color: #999;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.addCommentFeed {
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #efefef;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
}

.commentPaddingFeed:first-child {
  border-top: none;
  margin-top: 0;
}

.likeButtonFeed {
  margin-left: -9px;
  margin-right: 3px;
}

.paddingLikeFeed {
  margin-bottom: 20px;
}

.optionPostFeed {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-left: 5px;
  margin-right: -10px;
  padding: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.likeButtonFeed {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.userImageFeed {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.logoUserFeed {
  height: 100%;
  width: 100%;
}

.topAlignFeed {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row;
}

.topFeed .topAlignFeed {
  height: 64px;
  padding: 14px 20px;
}

.widthTextFeed2 {
  display: inline-block;
  max-width: 100%;
}

.topFeed {
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
}

.userNameFeed {
  display: block;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow: hidden;
  line-height: 0;
}

.userAlignFeed {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.topFeed .userAlignFeed {
  margin: -1px 10px -1px -5px;
}

.widthTextFeed {
  display: inline-block;
  max-width: 100%;
  margin-right: 100%;
  color: #262626;
  &:visited {
    color: #262626;
  }
}

.hourFeed {
  cursor: default;
  color: #999;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  &:visited {
    color: #999;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.contentFeed {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.marginContentFeed {
  margin-bottom: 30px;
}

.logoSize {
  width: 30px;
  height: 30px;
}

.imagePaddingFeed {
  padding-bottom: 100%;
}

#buttonSave,
#editInput {
  display: none;
}

@media (min-width: 640px) {
  .contentFeed {
    padding-top: 60px;
  }
  .borderFeed {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 60px;
  }
}

@media (max-width: 639px) {
  .contentFeed {
    margin-bottom: 10px;
  }
}

@media (min-width: 736px) {
  .heightTextFeed2 {
    font-size: 15px;
    line-height: 18px;
  }
  .heightTextFeed {
    font-size: 15px;
    line-height: 18px;
  }
  .inputCommentFeed {
    font-size: 15px;
    line-height: 18px;
  }
  .textContentFeed {
    font-size: 15px;
    line-height: 18px;
    padding: 0 24px;
  }
  .paddingLikeFeed:first-child {
    margin-top: 20px;
  }
  .addCommentFeed {
    min-height: 68px;
  }
}

@media (max-width: 735px) {
  .heightTextFeed2 {
    font-size: 14px;
    line-height: 17px;
  }
  .heightTextFeed {
    font-size: 14px;
    line-height: 17px;
  }
  .inputCommentFeed {
    font-size: 14px;
    line-height: 17px;
  }
  .textContentFeed {
    font-size: 14px;
    line-height: 17px;
    padding: 0 20px;
  }
  .paddingLikeFeed:first-child {
    margin-top: 16px;
  }
  .addCommentFeed {
    min-height: 48px;
  }
  .commentPaddingFeed {
    margin-top: 9px;
  }
  .likeButtonFeed {
    margin-left: -9px;
    margin-right: -1px;
    transform-origin: left;
  }
  .borderFeed {
    margin-bottom: 30px;
  }
}