.textFooter {
  font-size: 12px;
  font-weight: 600;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
}

.paddingFooter {
  padding: 10px 0;
  text-align: center;
  .flexFooter {
    -ms-flex-pack: center;
    margin: 0 auto;
    max-width: 360px;
  }
}

.flexFooter {
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 3px;
}

.paddingFooter .flexFooter {
  -ms-flex-pack: center;
  margin: 0 auto;
  max-width: 360px;
}

.marginFooter {
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 16px;
  &:last-child {
    margin-right: 0;
  }
}

.copyrightFooter {
  color: #999;
}

@media (min-width: 875px) {
  .mobileFooter {
    max-width: 100%;
  }
  .flexFooter {
    margin-right: 16px;
  }
}

@media (max-width: 874px) {
  .flexFooter {
    -ms-flex-pack: center;
    margin: 0 auto;
    max-width: 360px;
  }
}