html, body, a, div, h1, h2, h3, h4, h5, h6, i, img, label, li, ol, p, span, time, u, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

main, div {
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

body, button, input {
  font-family: "proxima-nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: #003569;
  text-decoration: none;
  &:visited {
    color: #003569;
    text-decoration: none;
  }
}

main {
  background-color: #fafafa;
}

.whiteBackground {
  background-color: #fff;
}