.navContent {
  -ms-flex-order: 1;
  order: 1;
  padding: 0;
}

.navAlign {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  -ms-flex-align: center;
  align-items: center;
  height: 77px;
}

.navPadding {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1010px;
  padding: 26px 40px;
  width: 100%;
}

.flexLogo {
  -ms-flex: 1 9999 0%;
  flex: 1 9999 0%;
  min-width: 40px;
}

.marginLogo {
  margin-right: 12px;
  margin-top: -4px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.navHeader {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.flexSearch {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  min-width: 125px;
  width: 215px;
}

.heightSearch {
  height: 28px;
}

.inputSearch {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.boxSearch {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 14px;
  border-radius: 3px;
  color: #999;
  cursor: text;
  font-weight: 300;
  left: 0;
  padding: 7px;
  position: absolute;
  text-align: center;
  top: 0;
}

.inputSearch {
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-size: 14px;
  outline: none;
  padding: 3px 10px 3px 26px;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-size: 14px;
  outline: none;
  padding: 3px 10px 3px 26px;
}

.colorSearch {
  background: #fafafa;
  border: solid 1px #dbdbdb;
}

.displaySearch {
  display: inline;
  left: -5px;
}

.textSearch, .alignSearch {
  display: inline-block;
}

.textSearch {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
}

.alignSearch {
  margin-right: 6px;
  vertical-align: baseline;
}

.flexNav {
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.displayNav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 24px;
  white-space: nowrap;
}

.marginNav:not(:first-child) {
  margin-left: 30px;
}

.navActivity, .navExplore, .navLogo {
  background-image: url(/img/ugram.png);
  background-position: -181px -229px;
  height: 24px;
  width: 24px;
}

.navExplore {
  background-position: -302px -180px;
}

.navLogo {
  background-position: -302px -180px;
  background-position: -177px 0;
  height: 35px;
  width: 176px;
}

.searchIcon {
  background-image: url(/img/ugram.png);
  background-position: -249px -115px;
  height: 10px;
  width: 10px;
}

.navProfile {
  background-image: url(/img/ugram.png);
  background-position: 0 -279px;
  height: 24px;
  width: 24px;
}

@media (max-width: 500px) {
  .flexSearch {
    display: none;
  }
  .displayNav {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .phoneLogo {
    transform-origin: left;
    text-indent: 200%;
  }
}