.displayImgProfile {
  background-color: #edeeee;
  display: block;
  width: 100%;
}

.divImgProfile {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
}

.pictureProfile {
  left: 45%;
  position: absolute;
  top: 0;
  overflow: hidden;
  max-width: 10%;
  max-height: 10%;
  transform: scale(10);
  transform-origin: center top;
}

.textOptionProfile {
  display: block;
  text-indent: 110%;
  white-space: nowrap;
}

.imgProfile {
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  &:last-child {
    margin-bottom: 0;
  }
}

.showImgProfile {
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  min-width: 30%;
  max-width: 30%;
  &:last-child {
    margin-right: 0;
  }
}

.moreTextProfile {
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin: -60px 0;
  padding: 60px 9px;
  position: relative;
  text-align: center;
  font-weight: 600;
  color: #3897f0;
  &:visited {
    color: #3897f0;
  }
}

.optionLogo {
    background-image: url(/img/ugram.png);
    background-repeat: no-repeat;
    background-position: -308px -37px;
    height: 44px;
    width: 44px
}

.addMoreProfile {
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px auto 30px;
  position: relative;
  &::before {
    background-color: #fff;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    height: 120px;
    width: 120px;
    border-color: #3897f0;
  }
  height: 120px;
  width: 120px;
}

.styleButtonProfile {
  cursor: pointer;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-weight: 600;
  outline: none;
  white-space: nowrap;
}

.colorButtonProfile {
  background: 0 0;
  border-color: #3897f0;
  color: #3897f0;
}

.colorAddButtonProfile {
  background: 0 0;
  border-color: #32CD32;
  color: #32CD32;
}

.sizeButtonProfile {
  padding: 0 8px;
}

.fontStatsProfile {
  color: #262626;
  font-weight: 600;
}

.blockStatsProfile {
  display: block;
}

.stlyeLogoProfile {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.statsProfile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 17px 0;
  margin-bottom: 12px;
  padding: 0;
}

.paddingStatsProfile {
  &:last-child {
    margin-right: 0;
    width: 33.4%;
  }
  text-align: center;
  width: 33.3%;
  color: #999;
  font-size: 14px;
}

.contentProfile {
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  width: 100%;
}

.editButtonProfile {
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 11px;
}

.paddingProfile .editButtonProfile {
  margin-top: 0;
}

.paddingNameProfile {
  color: #262626;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 0;
}

.logoProfile {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.logoPaddingProfile {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.paddingBioProfile {
  display: block;
  &:empty {
    display: none;
  }
  margin-bottom: 10px;
}

.boldTextProfile {
  display: inline;
  font-weight: 600;
}

.headerProfile {
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom-color: #efefef;
  border-bottom-width: 1px;
  padding-bottom: 30px;
}

.paddingProfile .headerProfile {
  border-bottom: none;
  margin-bottom: 60px;
  padding-bottom: 0;
}

.coreSpriteEllipsis {
  background-image: url(/img/ugram.png);
  background-position: -308px -37px;
  height: 44px;
  width: 44px;
}

.paddingOptionProfile {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 0;
  margin-left: 5px;
  margin-right: -10px;
}

.styleOptionProfile {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin-top: -22px;
}

.borderLogoProfile {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 0;
}

.textNameProfile {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 0;
  font-weight: 300;
  white-space: nowrap;
}

.borderLogoProfile {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (min-width: 736px) {
  .showImgProfile {
    margin: 14px;
  }
  .imgProfile {
    margin-bottom: 28px;
  }
  .sizeButtonProfile {
    line-height: 29px;
    padding: 0 11px;
  }
  .styleButtonProfile {
    font-size: 16px;
  }
  .contentProfile {
    box-sizing: content-box;
    padding: 40px 20px 0;
    width: calc(100% - 40px);
  }
  .sizeButtonProfile {
    line-height: 28px;
  }
  .paddingProfile.contentProfile {
    padding-top: 60px;
  }
  .paddingNameProfile {
    -ms-flex-preferred-size: 30px;
    flex-basis: 30px;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
  .logoProfile {
    height: 152px;
    margin-bottom: -7px;
    margin-top: -7px;
    width: 152px;
  }
  .paddingProfile .logoProfile {
    margin-bottom: 0;
    margin-top: 0;
  }
  .logoPaddingProfile {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 30px;
  }
  .paddingBioProfile {
    font-size: 17px;
    line-height: 24px;
    margin-top: 14px;
    margin-bottom: 10px;
  }
  .paddingProfile .paddingBioProfile {
    margin: 0;
    margin-bottom: 10px;
  }
  .headerProfile {
    padding: 20px 0;
  }
  .paddingProfile {
    padding: 0;
    margin-bottom: 44px;
  }
  .borderLogoProfile {
    margin-bottom: 2px;
    margin-top: 2px;
  }
  .paddingProfile .borderLogoProfile {
    margin-bottom: 20px;
    margin-top: 0;
  }
  .textNameProfile {
    font-size: 34px;
    line-height: 40px;
  }
}

@media (max-width: 735px) {
  .showImgProfile {
    margin: 3px;
  }
  .imgProfile {
    margin-bottom: 3px;
  }
  .sizeButtonProfile {
    line-height: 24px;
    padding: 0 9px;
  }
  .styleButtonProfile {
    font-size: 14px;
  }
  .sizeButtonProfile {
    line-height: 26px;
  }
  .paddingNameProfile {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .logoProfile {
    height: 77px;
    margin-bottom: -6px;
    margin-top: -6px;
    width: 77px;
  }
  .paddingProfile .logoProfile {
    margin: 0;
  }
  .logoPaddingProfile {
    margin-right: 25px;
  }
  .paddingProfile .logoPaddingProfile {
    margin-right: 28px;
  }
  .paddingBioProfile {
    font-size: 14px;
    line-height: 17px;
    margin-top: 7px;
  }
  .paddingProfile .paddingBioProfile {
    margin-bottom: 12px;
    padding-bottom: 24px;
    border-bottom: 1px solid #dbdbdb;
  }
  .headerProfile {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
  .borderLogoProfile {
    margin-bottom: 11px;
    margin-top: 12px;
  }
  .paddingProfile .borderLogoProfile {
    margin-bottom: 12px;
    margin-top: 0;
  }
  .textNameProfile {
    font-size: 21px;
  }
}

.divPopupContent {
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: none;
    justify-content: space-between;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
.closeButtonPopup {
    background: 0 0;
    border: none;
    cursor: pointer;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.closeButtonPopup::before {
    color: #fff;
    content: '\00D7';
    display: block;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    padding: 0;
    margin: 0;
}
.centerPopup {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    margin: auto;
    max-width: 935px;
    pointer-events: auto;
    width: 80%;
}
.popupContent {
    position: relative;
    z-index: 1;
}

.heightPopup {
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    overflow: auto;
    width: auto;
    z-index: 1
}

.height2Popup {
    -ms-flex-align: center;
    margin: auto;
    max-width: 935px;
    pointer-events: auto;
}

@media (min-width: 481px) {
    .heightPopup {
        padding: 0 40px;
        pointer-events: none;
        transform: translate3d(0, 0, 0)
    }
    .heightPopup::after,
    .heightPopup::before {
        content: '';
        display: block;
        -ms-flex-preferred-size: 40px;
        flex-basis: 40px;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }
}

@media (min-width: 414px) and (max-width: 735px) {
    .lineQuitPopup {
        width: 100%
    }
}

#editInput {
  height: 100px;
}

#editInput #description {
  width:100%;
  height: 100%;
}

#saveButtonPopup {
  margin: 10px;
}

.lineQuitPopup {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb
}
.lineQuitPopup:last-child {
    border-bottom-width: 0
}
@media (min-width: 736px) {
    .lineQuitPopup {
        min-width: 510px
    }
}

.deleteAccountColor {
    background: #CC0000;
    border: none;
    color: #262626;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.buttonQuitPopup {
    background: #fff;
    border: none;
    color: #262626;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.buttonQuitPopup:hover {
    background-color: #efefef
}