<div class="contentFeed">
	<div class="marginContentFeed borderFeed topFeed">
		<div class="topAlignFeed">
			<a class="userImageFeed userAlignFeed logoSize" href=""><img class="logoUserFeed" src="/img/test2.jpg">
			</a>
			<div class="userNameFeed">
				<a class="heightTextFeed widthTextFeed" href="">{user name post}</a>
			</div>
			<a class="hourFeed" href=""><time datetime="2017-01-21T20:20:26.000Z">{time post}</time></a>
		</div>
		<div class="imageFeed">
			<div class="imagePaddingFeed">
				<img class="sizeImageFeed" src="/img/test1.jpg">
			</div>
		</div>
		<div class="textContentFeed">
			<div class="paddingLikeFeed">
				<span class="likeTextFeed">{like number} mentions J’aime</span>
			</div>
			<ul>
				<li class="textCommentFeed">
					<a class="heightTextFeed blackTextFeed" href="">{user name post}</a>
					<span>{text post}</span>
				</li>
				<li class="textCommentFeed">
					<a class="heightTextFeed blackTextFeed" href="">{user name comment}</a>
					<span>{text comment}</span>
				</li>
			</ul>
			<div class="addCommentFeed commentPaddingFeed">
				<a class="likeButtonFeed likePaddingFeed" href=""><span class="likeTextFeed2 heartIcon">J’aime</span></a>
				<form class="flexCommentFeed"><input type="text" class="inputCommentFeed inputTextFeed" placeholder="Add Comment..." value=""></form>
				<button class="optionPostFeed optionIcon likeTextFeed2">More Options</button>
			</div>
		</div>
	</div>
</div>