<main role="main">
    <section class="contentFeed">
    <div class="marginContentFeed">
		<article class="borderFeed topFeed">
			<header class="topAlignFeed">
			<a class="userImageFeed userAlignFeed logoSize" href=""><img class="logoUserFeed" src="https://scontent-yyz1-1.cdninstagram.com/t51.2885-19/s150x150/15034714_1617210441916856_7699009232070246400_a.jpg"></a>
			<div class="userNameFeed"><a class="heightTextFeed widthTextFeed" href="">{user name post}</a></div>
			<a class="hourFeed" href=""><time datetime="2017-01-21T20:20:26.000Z">{time post}</time></a>
			</header>
			<div class="imageFeed">
				<div class="imagePaddingFeed"><img class="sizeImageFeed" src="https://scontent-yyz1-1.cdninstagram.com/t51.2885-15/e35/16123684_1319527648110388_4282290962018861056_n.jpg?ig_cache_key=MTQzMjg1ODE3MzM0MTA5NjgyMA%3D%3D.2"></div>
			</div>
			<div class="textContentFeed">
			<section class="paddingLikeFeed">
				<span class="likeTextFeed">{number like} mentions J’aime</span>
			</section>
			<ul>
				<li class="textCommentFeed">
					<a class="heightTextFeed blackTextFeed" href="">{user name post}</a>
					<span>{text post}</span>
				</li>
				<li class="textCommentFeed">
					<a class="heightTextFeed blackTextFeed" href="">{user name comment}</a>
					<span>{text comment}</span>
				</li>
			</ul>
			<section class="addCommentFeed commentPaddingFeed">
				<a class="likeButtonFeed likePaddingFeed" href="" role="button" aria-disabled="false"><span class="likeTextFeed2 heartIcon">J’aime</span></a>
				<form class="flexCommentFeed"><input type="text" class="inputCommentFeed inputTextFeed" aria-label="Ajouter un commentaire..." placeholder="Ajouter un commentaire..." value=""></form>
				<button class="optionPostFeed optionIcon likeTextFeed2">Plus d’options</button>
			</section>
			</div>
		</article>
    </div>
    </section>
</main>