<footer class="footerContent" role="contentinfo">
    <div class="textFooter paddingFooter">
    <nav class="mobileFooter" role="navigation">
        <ul class="flexFooter">
            <li class="marginFooter"><a href="">À propos de nous</a></li>
            <li class="marginFooter"><a href="">Assistance</a></li>
            <li class="marginFooter"><a href="">Blogue</a></li>
            <li class="marginFooter"><a href="">Presse</a></li>
            <li class="marginFooter"><a href="">API</a></li>
            <li class="marginFooter"><a href="">Emplois</a></li>
            <li class="marginFooter"><a href="">Confidentialité</a></li>
            <li class="marginFooter"><a href="">Conditions</a></li>
        </ul>
    </nav>
    <span class="copyrightFooter">© 2017 Instagram</span>
    </div>
</footer>