<div class="footerContent textFooter paddingFooter">
    <ul class="mobileFooter flexFooter">
        <li class="marginFooter"><a target="_blank" href="https://github.com/GLO3102/ugram-h17-team-09">GitHub</a></li>
        <li class="marginFooter"><a target="_blank" href="https://github.com/GLO3112/ugram">Project</a></li>
        <li class="marginFooter"><a target="_blank" href="http://glo-3102-team09.s3-website-us-east-1.amazonaws.com/">Server</a></li>
        <li class="marginFooter"><a target="_blank" href="http://api.ugram.net/swagger-ui.html#/">API</a></li>
    </ul>
    <div class="copyrightFooter">© 2017 Ugram</div>
</div>