<footer class="footerContent" role="contentinfo">
    <div class="textFooter paddingFooter">
    <nav class="mobileFooter" role="navigation">
        <ul class="flexFooter">
            <li class="marginFooter"><a href="">About Us</a></li>
            <li class="marginFooter"><a href="">GitHub</a></li>
            <li class="marginFooter"><a href="">Project</a></li>
            <li class="marginFooter"><a href="">Server</a></li>
            <li class="marginFooter"><a href="">API</a></li>
        </ul>
    </nav>
    <span class="copyrightFooter">© 2017 Ugram</span>
    </div>
</footer>