<div class="whiteBackground navContent">
    <div class="navAlign">
        <div class="navPadding">
            <div class="flexLogo">
                <div class="marginLogo"><a class="phoneLogo navHeader navLogo" href="/#home"></a></div>
            </div>

            <div class="flexSearch heightSearch">
                <input id="findInput2" type="text" class="styleInputSearch" placeholder="Rechercher">
                <span class="logoSearch coreSpriteSearchIcon"></span>
                <div class="searchBox2">
                    <div class="ombreSearch"></div>
                    <div class="widthBoxSearch">
                        <div class="scrollBoxSearch">
                            <div id="searchList2"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="flexNav">
                <div class="displayNav">
                    <div class="marginNav"><a class="navHeader navExplore" href="#users">Trouver des personnes</a></div>
                    <div class="marginNav">
                        <a id="notificationButton" class="navHeader navActivity">Fil d’activité</a>

                        <div class="notificationZone">
                            <div>
                                <div class="notificationSquare1"></div>
                                <div class="notificationSquare2"></div>
                                <div class="notificationSquare3"></div>
                                <div class="notificationContent">
                                    <ul>
                                        <li class="notificationList">
                                            <a class="notificationRoundImg" href="">
                                                <img class="notificationCenterImg" src="https://instagram.fyhu1-1.fna.fbcdn.net/t51.2885-19/s150x150/13402672_1138479549550332_858020365_a.jpg">
                                            </a>
                                            <div class="notificationList2">
                                                <a class="notificationBold notificationBlack" href="">{username}</a> a aimé votre photo.
                                                <time class="notificationBlackTime notificationSizeTime">2 h</time>
                                            </div>
                                            <a href="">
                                                <img class="notificationSizeImg" src="https://instagram.fyhu1-1.fna.fbcdn.net/t51.2885-15/e35/c160.0.573.573/16789204_1251094874928498_3679668176641064960_n.jpg">
                                            </a>
                                        </li>
                                        <li class="notificationList">
                                            <a class="notificationRoundImg" href="">
                                                <img class="notificationCenterImg" src="https://instagram.fyhu1-1.fna.fbcdn.net/t51.2885-19/s150x150/13402672_1138479549550332_858020365_a.jpg">
                                            </a>
                                            <div class="notificationList2">
                                                <a class="notificationBold notificationBlack" href="">{username}</a> a aimé votre photo.
                                                <time class="notificationBlackTime notificationSizeTime">2 h</time>
                                            </div>
                                            <a href="">
                                                <img class="notificationSizeImg" src="https://instagram.fyhu1-1.fna.fbcdn.net/t51.2885-15/e35/c160.0.573.573/16789204_1251094874928498_3679668176641064960_n.jpg">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="marginNav"><a class="navHeader navProfile" href="#profile">Profil</a></div>
                </div>
            </div>
        </div>
    </div>
</div>