<div class="navContent">
    <div class="navAlign">
        <div class="navPadding">
            <div class="flexLogo">
                <div class="marginLogo"><a class="phoneLogo navHeader navLogo" href=""></a></div>
            </div>
            <div class="flexSearch heightSearch">
                <input type="text" class="inputSearch" placeholder="Search" value="">
                <div class="boxSearch colorSearch">
                    <div class="displaySearch"><span class="alignSearch searchIcon"></span><span class="textSearch">Search</span></div>
                </div>
            </div>
            <div class="flexNav">
                <div class="displayNav">
                    <div class="marginNav"><a class="navHeader navExplore" href="#users">Trouver des personnes</a></div>
                    <div class="marginNav"><a class="navHeader navActivity">Fil d’activité</a></div>
                    <div class="marginNav"><a class="navHeader navProfile" href="#profile">Profil</a></div>
                </div>
            </div>
        </div>
    </div>
</div>