<div class="whiteBackground navContent">
    <div class="navAlign">
        <div class="navPadding">
            <div class="flexLogo">
                <div class="marginLogo"><a class="phoneLogo navHeader navLogo" href="/#home"></a></div>
            </div>

            <div class="flexSearch heightSearch">
                <input id="findInput2" type="text" class="styleInputSearch" placeholder="Rechercher">
                <span class="logoSearch coreSpriteSearchIcon"></span>
                <div class="searchBox2">
                    <div class="ombreSearch"></div>
                    <div class="widthBoxSearch">
                        <div class="scrollBoxSearch">
                            <div id="searchList2"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="flexNav">
                <div class="displayNav">
                    <div class="marginNav"><a class="navHeader navExplore" href="#users">Trouver des personnes</a></div>
                    <div class="marginNav"><a class="navHeader navActivity">Fil d’activité</a></div>
                    <div class="marginNav"><a class="navHeader navProfile" href="#profile">Profil</a></div>
                </div>
            </div>
        </div>
    </div>
</div>