<div class="contentLogin">
	<div class="imageLeftLogin mobileImageLogin"></div>
	<div class="paddingZoneLogin">
		<div class="whiteZoneLogin">
			<h1 class="centerLogoLogin logoUgramLogin"></h1>
			<div class="widthInputLogin"><input type="text" class="heightInputLogin" placeholder="Email Address"></div>
			<div class="widthInputLogin"><input type="password" class="heightInputLogin" placeholder="Mot de passe"></div>
			<div><div class="paddingConnectLogin"><button class="fontLoginButton colorLoginButton heigthLoginButton">Sign in</button></div></div>
		</div>
		<div class="whiteZoneLogin">
			<p class="paddingSignLogin">
				You don't have an account? <a class="blueLinkLogin" href="">Register</a>
			</p>
		</div>
	</div>
</div>