<div class="contentLogin">
	<div class="imageLeftLogin mobileImageLogin"></div>
	<div class="paddingZoneLogin">

		<% if(signupNeeded){ %>
			<h2 class="textUpLogin">
				This is your first time here. Welcome!
				You must choose a unique username to complete your ugram signup.
				User names must not have any spaces, be shorter than 30 characters and only
				contains letters, numbers underscores or slashes.
			</h2>
			<div class="widthInputLogin">
				<input id="username-input" type="text" class="heightInputLogin" placeholder="Choose a unique User Name">
			</div>
			<div>
				<div class="paddingConnectLogin">
					<button id="registerButton" class="fontLoginButton colorLoginButton heigthLoginButton">
						<div class="logoMediaLogin columnMediaLogin"></div>Register with Facebook
					</button>
				</div>
			</div>
        <% } else { %>
			<div>
				<div class="paddingConnectLogin">
					<button id="loginButton" class="fontLoginButton colorLoginButton heigthLoginButton">
						<div class="logoMediaLogin columnMediaLogin"></div>Login with Facebook
					</button>
				</div>
			</div>
        <% } %>

	</div>
</div>