<div class="contentLogin">
	<div class="imageLeftLogin mobileImageLogin"></div>
	<div class="paddingZoneLogin">
		<div class="whiteZoneLogin">
			<h1 class="centerLogoLogin logoUgramLogin"></h1>
			<div><div class="paddingConnectLogin"><button id="loginButton" class="fontLoginButton colorLoginButton heigthLoginButton">Log in with Facebook</button></div></div>
		</div>
		<div class="whiteZoneLogin">
			<p class="paddingSignLogin">
				You don't have an account? <a class="blueLinkLogin" href="">Register</a>
			</p>
		</div>
	</div>
</div>