<div class="contentLogin">
	<div class="imageLeftLogin mobileImageLogin"></div>
	<div class="paddingZoneLogin">

		<h1 class="centerLogoLogin navLogo"></h1>

		<% if(signupNeeded){ %>
			<h2 class="textUpLogin">
				Welcome to ugram! To complete your registration: choose a user name that is shorter than 30 characters,
				cannot have spaces and must be alphanumeric.
			</h2>
			<div class="widthInputLogin">
				<input id="username-input" type="text" class="heightInputLogin" placeholder="User Name">

				<div id="textErrorSetting" class="buttonSetting"><span><p class="validationTextSize errorTextColor"></p></span></div>
			</div>
			<div>
				<div class="paddingConnectLogin">
					<button id="registerButton" class="fontLoginButton colorLoginButton heigthLoginButton">
						<div class="logoMediaLogin columnMediaLogin"></div>Signup with Facebook
					</button>
				</div>
			</div>
        <% } else { %>
			<h2 class="textUpLogin">
				Welcome to ugram.<br>Please Sign in!
			</h2>
			<div>
				<div class="paddingConnectLogin">
					<button id="loginButton" class="fontLoginButton colorLoginButton heigthLoginButton">
						<div class="logoMediaLogin columnMediaLogin"></div>Login with Facebook
					</button>
				</div>
			</div>
        <% } %>


		<div class="whiteZoneLogin">
			<p class="paddingSignLogin">
				By signing in, you agree to our Terms of Use and Privacy Policy
			</p>
		</div>

	</div>
</div>