<li class="notificationList">
    <a class="notificationRoundImg" href="">
        <img class="notificationCenterImg" src="https://instagram.fyhu1-1.fna.fbcdn.net/t51.2885-19/s150x150/13402672_1138479549550332_858020365_a.jpg">
    </a>
    <div class="notificationList2">
        <a class="notificationBold notificationBlack" href="">username</a> a aimé votre photo.
        <time class="notificationBlackTime notificationSizeTime">2 h</time>
    </div>
    <a href="">
        <img class="notificationSizeImg" src="https://instagram.fyhu1-1.fna.fbcdn.net/t51.2885-15/e35/c160.0.573.573/16789204_1251094874928498_3679668176641064960_n.jpg">
    </a>
</li>