<a class="showImgProfile" href="/#users/<%- picture.userId %>/pictures/<%- picture.id %>">
	<div class="displayImgProfile">
		<div class="divImgProfile">
			<img id="profilePicture_<%- picture.id %>" class="pictureProfile" src="<%- picture.imageUrl %>" />
		</div>
	</div>
</a>