<a class="showImgProfile">
	<div class="displayImgProfile">
		<div class="divImgProfile">
			<img id="profilePicture_<%- picture.id %>" class="pictureProfile" src="<%- picture.imageUrl %>" />
		</div>
	</div>
</a>