<div class="contentUser contentUser2 contentPopular">
    <ul class="whiteBackground boxUser">
        <li class="titleUser centerPopularTitle">
            <h2 class="textUser">Top 10 Most Popular</h2>
        </li>
    </ul>
        <main>
            <input id="tabUsers" type="radio" name="tabs" checked>
            <label for="tabUsers">Users</label>

            <input id="tabHashtags" type="radio" name="tabs">
            <label for="tabHashtags">Hashtags</label>

            <section id="contentUsers">
                <div id="popularUsersList"></div>
            </section>

            <section id="contentHashtags">
                <div id="popularTagsList"></div>
            </section>
        </main>
</div>