<div class="contentUser contentUser2 contentPopular">
    <ul class="whiteBackground boxUser">
        <li class="titleUser centerPopularTitle">
            <h2 class="textUser">Top 10 Most Popular</h2>
        </li>
    </ul>
        <main>
            <input id="tabUsers" type="radio" name="tabs" checked>
            <label for="tabUsers">Users</label>

            <input id="tabHashtags" type="radio" name="tabs">
            <label for="tabHashtags">Hashtags</label>

            <section id="contentUsers">
                <div id="usersList"></div>
                <div class="whiteBackground contentUser">
                    <ul class="boxUser">
                        <li id="userSection" class="titleUser">
                            <div class="paddingUser">
                                <div class="widthUser">
                                    <a class="roundImgUser tabImgUser" href="/#users/alexdaube"><img src="../../img/test2.jpg"></a>
                                    <div class="centerTitleUser">
                                        <div><a class="boldNameUser colorNameUser" href="/#users/alexdaube">alexdaube</a></div>
                                        <div class="fontNameUser">hello@gmail</div>
                                    </div>
                                    <div class="eggPlantIcon2"></div>
                                    <span class="userEggplantCount">3000</span>
                                </div>
                                <!--<div class="heightButtonUser"><span><button class="styleButtonUser colorButtonUser sizeButtonUser">Subscribe</button></span></div>-->
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="whiteBackground contentUser">
                    <ul class="boxUser">
                        <li id="userSection" class="titleUser">
                            <div class="paddingUser">
                                <div class="widthUser">
                                    <a class="roundImgUser tabImgUser" href="/#users/alexdaube"><img src="../../img/test2.jpg"></a>
                                    <div class="centerTitleUser">
                                        <div><a class="boldNameUser colorNameUser" href="/#users/alexdaube">alexdaube</a></div>
                                        <div class="fontNameUser">hello@gmail</div>
                                    </div>
                                    <div class="eggPlantIcon2"></div>
                                    <span class="userEggplantCount">2000</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </section>

            <section id="contentHashtags">
                <div id="hashtagsList">
                    <!--<div class="centerPopularTitle"><p>There are no Hashtags</p></div>-->
                    <div class="whiteBackground contentUser">
                        <ul class="boxUser">
                            <li id="userSection" class="titleUser">
                                <div class="paddingUser">
                                    <div class="widthUser">
                                        <div class="centerTitleUser">
                                            <div><a class="boldNameUser colorPopularHashtag" href="/#users/alexdaube">#BigFuckingTits</a></div>
                                            <div class="fontNameUser">was mentioned 3000 times</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="whiteBackground contentUser">
                        <ul class="boxUser">
                            <li id="userSection" class="titleUser">
                                <div class="paddingUser">
                                    <div class="widthUser">
                                        <div class="centerTitleUser">
                                            <div><a class="boldNameUser colorPopularHashtag" href="/#users/alexdaube">#BigFuckingEggplantTits</a></div>
                                            <div class="fontNameUser">was mentioned 2000 times</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="whiteBackground contentUser">
                        <ul class="boxUser">
                            <li id="userSection" class="titleUser">
                                <div class="paddingUser">
                                    <div class="widthUser">
                                        <div class="centerTitleUser">
                                            <div><a class="boldNameUser colorPopularHashtag" href="/#users/alexdaube">#BigBouncyTits</a></div>
                                            <div class="fontNameUser">was mentioned 1400 times</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
</div>