<div class="contentProfile paddingProfile">
    <div>
        <div class="recentImgContainer" id="most-recent-posted-pictures"></div>
        <div class="addMoreProfile recentShowMoreButton "><a class="moreTextProfile">Show more</a></div>
    </div>
</div>
