<div class="contentProfile paddingProfile">
    <div>
        <div class="imgProfile" id="most-recent-posted-pictures"></div>
        <div class="addMoreProfile"><a class="moreTextProfile">Show more</a></div>
    </div>
</div>
