<div class="contentLogin">
	<div class="imageLeftLogin mobileImageLogin"></div>
	<div class="paddingZoneLogin">
		<div class="whiteZoneLogin">
			<h1 class="centerLogoLogin logoUgramLogin"></h1>
			<h2 class="textUpLogin">Sign up to see photos and videos of your friends.</h2>
			<div class="paddingConnectLogin">
				<a href="http://localhost:3000/auth/facebook" class="fontLoginButton colorLoginButton heigthLoginButton">
					<div class="logoMediaLogin columnMediaLogin"></div>Login with Facebook
				</a>
			</div>
			<div class="paddingConnectLogin">
				<button class="fontLoginButton colorLoginButton heigthLoginButton">
					<div class="logoMediaLogin columnMediaLogin"></div>Login with Google
				</button>
			</div>
			<div class="spaceBarLogin">
				<div class="middleBarLogin"></div>
				<div class="fontBarLogin">ou</div>
				<div class="middleBarLogin"></div>
			</div>
			<div class="widthInputLogin"><input type="text" class="heightInputLogin" placeholder="Email Address"></div>
			<div class="widthInputLogin"><input type="text" class="heightInputLogin" placeholder="Full Name"></div>
			<div class="widthInputLogin"><input type="text" class="heightInputLogin" placeholder="Username"></div>
			<div class="widthInputLogin"><input type="password" class="heightInputLogin" placeholder="Mot de passe"></div>
			<div><div class="paddingConnectLogin"><button id="loginButton" class="fontLoginButton colorLoginButton heigthLoginButton">Register</button></div></div>
			<p class="textDownLogin">By signing up, you agree to our Terms of Use and Privacy Policy</a>.</p>
		</div>
		<div class="whiteZoneLogin">
			<p class="paddingSignLogin">
				Already have an account? <a class="blueLinkLogin" href="#login">Sign in</a>
			</p>
		</div>
	</div>
</div>