<div class="contentLogin">
	<div class="imageLeftLogin mobileImageLogin"></div>
	<div class="paddingZoneLogin">
		<div class="whiteZoneLogin">
			<h1 class="centerLogoLogin logoUgramLogin"></h1>
			<h2 class="textUpLogin">Sign up to see photos and videos of your friends.</h2>



            <% if(true){ %>
			<div class="widthInputLogin"><input type="text" class="heightInputLogin" placeholder="Username"></div>
			<div><div class="paddingConnectLogin"><button id="loginButton" class="fontLoginButton colorLoginButton heigthLoginButton"><div class="logoMediaLogin columnMediaLogin"></div>Register with Facebook</button></div></div>
            <% } else { %>
			<div><div class="paddingConnectLogin"><button id="registerButton" class="fontLoginButton colorLoginButton heigthLoginButton"><div class="logoMediaLogin columnMediaLogin"></div>Login with Facebook</button></div></div>
			<% } %>

			<p class="textDownLogin">By signing up, you agree to our Terms of Use and Privacy Policy</a>.</p>
		</div>
		<div class="whiteZoneLogin">
			<p class="paddingSignLogin">
				Already have an account? <a class="blueLinkLogin" href="#login">Sign in</a>
			</p>
		</div>
	</div>
</div>