<a class="heightZoneSearch hoverColor" href="/?#users/<%- user.id %>">
    <div class="columnZoneSearch">
        <img class="imgZoneSearch" src="<%- user.profilePictureUrl %>">
        <div class="nameZoneSearch"><span class="textZoneSearch"><%- user.id %></span></div>
        <div class="smallTextZoneSearch"><%- user.email %></div>
    </div>
</a>