<main role="main">
   <div class="contentSetting">
      <ul class="menuSetting">
         <li><a class="textMenuSetting boldTextSetting" href="">Modify profile</a></li>
      </ul>
      <article class="inputSizeSetting">
         <div class="usernameSetting">
            <div class="paddingLogoSetting">
               <button><img class="sizeLogoSetting" src="/img/test2.jpg"></button>
            </div>
            <h1 class="userTextSetting">{username}</h1>
         </div>
         <form class="heightSetting">
            <div class="infoSetting">
               <aside class="paddingInfoSetting"><label>Name</label></aside>
               <div class="widthSetting"><input class="inputSetting" id="pepName" value="" type="text"></div>
            </div>
            <div class="infoSetting">
               <aside class="paddingInfoSetting"><label>Username</label></aside>
               <div class="widthSetting"><input class="inputSetting" id="pepUsername" value="" type="text"></div>
            </div>
            <div class="infoSetting">
               <aside class="paddingInfoSetting privateSetting"><label></label></aside>
               <div class="widthSetting">
                  <div class="private2Setting">
                     <h2 class="textPrivateSetting">Private information</h2>
                  </div>
               </div>
            </div>
            <div class="infoSetting">
               <aside class="paddingInfoSetting"><label>Email</label></aside>
               <div class="widthSetting"><input class="inputSetting" id="pepEmail" value="" type="text"></div>
            </div>
            <div class="infoSetting">
               <aside class="paddingInfoSetting"><label>Phone</label></aside>
               <div class="widthSetting"><input class="inputSetting" id="pepPhone" value="" type="text"></div>
            </div>
            <div class="infoSetting">
               <aside class="paddingInfoSetting privateSetting"><label></label></aside>
               <div class="widthSetting">
                  <div class="buttonSetting"><span><button class="styleButtonSetting colorButtonSetting sizeButtonSetting">Update</button></span></div>
               </div>
            </div>
         </form>
      </article>
   </div>
   <br /><br />
</main>