<div class="whiteBackground contentUser">
    <ul class="boxUser">
        <li id="userSection" class="titleUser">
            <div class="paddingUser">
                <div class="widthUser">
                    <div class="centerTitleUser">
                        <div><a class="boldNameUser colorPopularHashtag" href="/#users/alexdaube"><%- tag.tag %></a></div>
                        <div class="fontNameUser">was mentioned <%- tag.count %> times</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>