



<h1>User Profile</h1>

<div class="userProfile-info-container">
    <div class="userProfile-profile-picture">

    </div>
    <div class="userProfile-infos">
        User Name: <%= console.log("firstName: " + firstName) %><br>
        First Name: <%- firstName %><br>
    </div>
</div>
