<div class="contentUser contentUser2">
    <ul class="boxUser">
        <li class="titleUser">
            <h2 class="textUser">Meet new people</h2>
        </li>
    </ul>
</div>

<div id="usersList"></div>

<div class="addMoreProfile">
    <a class="moreTextProfile" href="">Show more</a>
</div>