<div class="contentUser contentUser2">
    <div class="paddingSearchBox">
        <input id="findInput" type="text" class="styleInputSearch" placeholder="Rechercher">
        <span class="logoSearch coreSpriteSearchIcon"></span>
        <div class="searchBox">
            <div class="ombreSearch"></div>
            <div class="widthBoxSearch">
                <div class="scrollBoxSearch">
                    <div id="searchList"></div>
                </div>
            </div>
        </div>
    </div>
    <ul class="whiteBackground boxUser">
        <li class="titleUser">
            <h2 class="textUser">Meet new people</h2>
        </li>
    </ul>
</div>

<div id="usersList"></div>
<div id="show-more-container"></div>